{% extends 'Template.html.twig' %}


{% block body %}
    <h1>{{ firstname | capitalize }} {{ lastname | capitalize }}</h1>
    <table class="table">
        {% for s in score %}
            <tr>
                <td> {{ s }} </td>
            </tr>
        {% endfor %}
    </table>
    <div class="alert alert-info">
        <p>table length : {{ score | length }}</p>
        <p>min score : {{ min(score) }}, max score : {{ max(score) }}</p>
    </div>
{% endblock %}